.card.selected {
  .front {
    transform: scale(1) rotateY(0deg);
  }

  .back {
    transform: scale(1) rotateY(180deg);
  }
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
}

.side {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border: 10px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 10%;
  transition: 0.25s;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.back {
  transform: scale(0.9) rotateY(0deg);
  background-size: 200%;
  background-position: center center;
}

.front {
  transform: scale(0.9) rotateY(180deg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: white;
}
