@import "../../../variables";
@import "../../../mixins";

.selected{
  background: $COLOR_GREEN;
}

button {
  background:$COLOR_BLUE;
  font-family: $FONT_PRIMARY;
  font-size: toREM(48);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border-radius: 0;
  border: 0;
  padding: toREM(30) toREM(15);
  line-height: 0;
  width: toREM(75);
  outline: 0;
}

button:first-child {
  border-radius: toREM(30) 0 0 toREM(30);
  padding: toREM(30) toREM(15) toREM(30) toREM(25);
}

button:last-child {
  border-radius: 0 toREM(30) toREM(30) 0;
  padding: toREM(30) toREM(25) toREM(30) toREM(15);
}
