@import "../../../variables";
@import "../../../mixins";

.container {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle at center, transparent, 55%, $COLOR_BLUE 55%);
  pointer-events: none
}

.logo {
  width: toREM(300);
  display: block;
  margin-bottom: toREM(70);
}

.linkedin {
  position: absolute;
  right:toREM(15);
  bottom: toREM(15);
  width: toREM(40);

  img {
    width: 100%;
  }
}
