@import "./variables";
@import "./reset";

html, body {
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

yom-root, yom-root > div {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: $MOBILE_MAX) {
  html {
    font-size: 0.525em;
    // font-size: 0.725em;
  }
}
