@import "../../../variables";

button {
  text-transform: uppercase;
  padding: 30px 40px;
  border-radius: 34px;
  border: none;
  background-color: $COLOR_BLUE;

  font-family: Impact;
  font-size: 34px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.28;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

  outline: 0ch;
  cursor: pointer;
}
