@import "../../../variables";
@import "../../../mixins";

button {
  text-transform: uppercase;
  padding: toREM(30) toREM(40);
  border-radius: toREM(34);
  border: none;
  background-color: $COLOR_BLUE;

  font-family: $FONT_PRIMARY;
  font-size: toREM(34);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: toREM(0.28);
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

  outline: 0ch;
  cursor: pointer;
  transition: background-color 0.1s;

  &:hover {
    background-color: lighten($color: $COLOR_BLUE, $amount: 5)
  }

  &:active {
    background-color: lighten($color: $COLOR_BLUE, $amount: 10)
  }
}
